<div  class="page">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="left">
	    	<a v-on:click="back" href="#" class="link color-white">
              <i class="icon icon-back color-white"></i>
              <span>关闭</span>
            </a>
	    </div>
	    <div class="center title">关于我们</div>
	    <div class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	  </div>
	</div>
	<div class="page-content"> 
		<div class="content-block">
			<p>“居民e健康”公众号是北京大学护理学院孙宏玉教授团队与多所高校和医疗机构的专家学者合作搭建的居民健康监测与管理平台，为广大居民提供健康管理服务，帮助居民更好地管理自己的健康。为了能更准确地进行健康监测和做出全面的健康报告，需要您填写或上传相关的健康信息。您的所有信息都可以得到安全保障，不会泄露给本团队以外的任何个人和第三方机构。</p>
		</div>
    </div>
</div>