<div data-page="home" class="page">
	<div class="navbar"> 
	  <div class="navbar-inner">
	    <div class="left"><span v-if="searchable">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
	    <div class="center title">居民e健康</div>
	    <div class="right">
	    	<a v-on:click="reload" v-if="searchable" href="#" class="link color-white">
	              <i class="f7-icons" style="font-size:18px;">reload</i>
	        </a>
	    </div>
	    <div v-if="searchable" class="subnavbar" style="margin-top:-16px;">
	       <form class="searchbar">
	          <div class="searchbar-inner">
	          	<span v-on:click="more" v-if="mobile==''"><i class="f7-icons" style="color:var(--f7-theme-color)">filter</i></span>
	            <div class="searchbar-input-wrap">
	              <input type="search" placeholder="手机号码" v-model="mobile">
	              <i class="searchbar-icon"></i>
	              <span class="input-clear-button"></span>
	            </div>
	            <span v-on:click="search" v-if="mobile!=''" style="margin-left:10px"><i class="f7-icons" style="color:var(--f7-theme-color)">search</i></span>
	          </div>
	        </form>
	    </div>
	  </div>
	</div>
	<div class="toolbar toolbar-bottom tabbar-labels" style="height:45px">
	    <div class="toolbar-inner">
	        <a href="#tab1" class="tab-link tab-link-active" style="padding-top: 2px;padding-bottom: 6px;">
	            <i class="icon icon-fill f7-icons size-22">persons</i>
	            <span class="tabbar-label" style="font-size:10px;line-height:1.1;margin-left:0px;margin-top:1px">我的居民</span>
	        </a>
	        <a href="#tab2" class="tab-link" style="padding-top: 2px;padding-bottom: 6px;">
	            <i class="icon icon-fill f7-icons size-22">
	            	gear
	            	<!--  
	            	<span class="badge color-red" >5</span>
	            	-->
	            </i>
	            <span class="tabbar-label" style="font-size:10px;line-height:1.1;margin-left:0px;margin-top:1px">个人设置</span>
	        </a>
		</div>
	</div>
	<div class="tabs">
		<div id="tab1" v-on:scroll.passive="onScroll" @tab:show="onShowTab"  class="tab tab-main tab-active page-content infinite-scroll-content">
			<div class="list users-list" style="margin-top: 60px;">
		      <ul>
		        <li v-for="user in users">
					<a v-on:click="detail(user)" class="item-link">
						<div class="item-content">
							<div class="item-media">
								 <i :class="'fa fa-'+user.sex" :style="'color:'+(user.sex=='male'?'green;font-size:20px;':(user.sex=='female'?'red;font-size:20px;':'black;font-size:16px;'))"></i>
							</div>
							<div class="item-inner">
								<div class="detail">
									<div class="name">{{user.name}}</div> 
								</div>
							</div>
						</div>
					</a>
				 </li>
		       
		      </ul>
		    </div>
	    	<div class="preloader infinite-scroll-preloader" style="animation:null">
	    		<i class="fa fa-spinner fa-pulse" style="font-size:36px"></i>
	    	</div>
		</div>
		<div id="tab2" v-on:scroll.passive="onScroll" @tab:show="onShowTab"  class="tab page-content">
			<div class="settings-view">
				<div class="list user-profile">
					<ul>
						<li>
							<a class="item-link">
								<div class="item-content">
									<div class="item-media">
									<img  class="avatar" src="img/head.png">
									</div>
									<div class="item-inner">
										<div class="detail">
											<div class="name">{{name}}</div> 
											<div class="location">
												<span>职称: </span> 
												<span class="">{{jobTitle}}</span>
											</div>
											<div class="location">
												<span>单位: </span> 
												<span class="">{{unit}}</span>
											</div>
										</div>
									</div>
								</div>
							</a>
						</li>
					</ul>
				</div> 
				<div class="list">
					<ul>
					   
					    <li>
							<a v-on:click="myQr" class="item-link pb">
								<div class="item-content">
									<div class="item-media">
										<i class="f7-icons" style="color:#fc3;font-size:18px;margin-top:10px">qrcode</i>
									</div>
									<div class="item-inner">
										<div class="item-title">我的二维码</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a v-on:click="changePwd" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="f7-icons" style="color:#fc3;font-size:18px;margin-top:10px">lock</i>
									</div>
									<div class="item-inner">
										<div class="item-title">密码修改</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a v-on:click="about" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="f7-icons" style="color:#fc3;font-size:18px;margin-top:10px">info_round</i>
									</div>
									<div class="item-inner">
										<div class="item-title">关于我们</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a v-on:click="logout" class="item-link">
								<div class="item-content">
									<div class="item-media">
										<i class="f7-icons" style="color:#fc3;font-size:20px;margin-top:10px">exit_round</i>
									</div>
									<div class="item-inner">
										<div class="item-title">安全退出</div>
									</div>
								</div>
							</a>
						</li>
						<li>
							<a href="#" class="item-link smart-select">
						        <select name="fruits">
						          <option value="apple" selected>Apple</option>
						          <option value="pineapple">Pineapple</option>
						        </select>
						        <div class="item-content">
						          <div class="item-inner">
						            <div class="item-title">Fruit</div>
						            <div class="item-after">Apple</div>
						          </div>
						        </div>
						      </a>
						</li>
					 </ul>
				</div> 
			</div>
		</div>
	</div>
	<div class="popup popup-search">
		<div class="view view-popup">
		<div class="navbar">
		  <div class="navbar-inner">
		    <div class="left">
		    	<a   href="#" class="link color-white popup-close">
              		<i class="f7-icons" style="font-size:22px;">chevron_left</i>
        		</a>
		    </div>
		    <div class="center title">条件查询</div>
		    <div class="right">
		    	<a v-on:click="reload"  href="#" class="link color-white">
              		<i class="f7-icons" style="font-size:22px;">search</i>
        		</a>
		    </div>
		  </div>
		</div>
	    <div class="block">
			<div class="list inline-labels no-hairlines-md" style="margin-top:25px">
			  <ul>
			    <li class="item-content item-input">
			      <div class="item-inner" style="margin-left:5px">
			        <div class="item-title item-label" style="width:20%;">性别</div>
			        <div class="item-input-wrap">
			          <select placeholder="性别">
			            <option value="Male">男</option>
			            <option value="Female">女</option>
			          </select>
			        </div>
			      </div>
			    </li>
			    <li class="item-content item-input">
			      <div class="item-inner" style="margin-left:5px">
			        <div class="item-title item-label" style="width:20%;">慢病</div>
			        <div class="item-input-wrap">
			          <input  type="text" placeholder="请输入新密码">
			          <span class="input-clear-button"></span>
			        </div>
			      </div>
			    </li>
			    <li class="item-content item-input">
			      <div class="item-inner" style="margin-left:5px">
			        <div class="item-title item-label" style="width:20%;">年龄</div>
			        <div class="item-input-wrap">
			          <input  type="text" placeholder="请再次输入新密码">
			          <span class="input-clear-button"></span>
			        </div>
			      </div>
			    </li>
			    <li class="item-content item-input">
			      <div class="item-inner" style="margin-left:5px">
				      <a href="#"  v-on:click="openSelect" class="item-link smart-select" routableModals>
				        <select name="fruits">
				          <option value="apple" selected>Apple</option>
				          <option value="pineapple">Pineapple</option>
				        </select>
				        <div class="item-content">
				          <div class="item-inner">
				            <div class="item-title">Fruit</div>
				            <div class="item-after">Apple</div>
				          </div>
				        </div>
				      </a>
			      </div>
			    </li>
			   </ul>
		 	</div>
	    </div>
	    </div>
	 </div>
</div>