<div data-page="favorites" class="page">
	<div class="navbar"> 
	  <div class="navbar-inner">
	  	<div class="left">
	    	<a v-on:click="back" href="#" class="link color-white">
              <i class="icon icon-back color-white"></i>
              <span>返回</span>
            </a>
	    </div>
	    <div class="center title">收藏夹</div>
	    <div class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	  </div>
	</div>
	<div class="page-content infinite-scroll-content"> 
			<div class="list users-list" style="margin-top: 17px;">
		      <ul>
		        <li v-for="user in users">
					<a v-on:click="detail(user)" class="item-link">
						<div class="item-content">
							<div class="item-media">
								 <i :class="'fa fa-'+user.sex" :style="'color:'+(user.sex=='male'?'green;font-size:20px;':(user.sex=='female'?'red;font-size:20px;':'black;font-size:16px;'))"></i>
							</div>
							<div class="item-inner">
								<div class="detail">
									<div class="name">{{user.name}}</div> 
								</div>
							</div>
						</div>
					</a>
				 </li>
		       
		      </ul>
		    </div>
	    	<div class="preloader infinite-scroll-preloader" style="animation:null">
	    		<i class="fa fa-spinner fa-pulse" style="font-size:36px"></i>
	    	</div>
	</div>
</div>