<div  class="page">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="left">
	    	<a v-on:click="back" href="#" class="link color-white">
              <i class="icon icon-back color-white"></i>
              <span>返回</span>
            </a>
	    </div>
	    <div class="center title">我的二维码</div>
	    <div class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	  </div>
	</div>
	<div class="page-content"> 
		<div class="content-block">
			<p style="text-align: center">
			    <i v-if="qr==''" class="fa fa-spinner fa-pulse" style="font-size:36px"></i>
				<img :src="qr" style="width:100%">
			</p>
		</div>
    </div>
</div>