<div  class="page">
	<div class="navbar">
	  <div class="navbar-inner">
	    <div class="left">
	    	<a v-on:click="back" href="#" class="link color-white">
              <i class="icon icon-back color-white"></i>
              <span>返回</span>
            </a>
	    </div>
	    <div class="center title">生理指标</div>
	    <div class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
	  </div>
	</div>
	<div class="page-content"> 
		<p class="segmented segmented-raised" style="margin: 20px 10px 5px 10px">
			    <button :class="type==0?'button button-active':'button'" v-on:click="setData(0)">全部</button>
			    <button :class="type==1?'button button-active':'button'" v-on:click="setData(1)">近一周</button>
			    <button :class="type==2?'button button-active':'button'" v-on:click="setData(2)">近一月</button>
		</p>
		<p v-if="dates.length<=0" style="text-align: center;">
			{{noDataTip}}
		</p>
		<div class="toolbar tabbar tabbar-scrollable toolbar-top" :style="dates.length>0?'display:block;top:0;':'display:none;'">
		    <div class="toolbar-inner">
		      <a href="#tab" :class="charts?'tab-link tab-link-active':'tab-link'" v-on:click="getPhy()">动态结果</a>
		      <template v-for="date in dates">
		      	<a :href="'#tab'+date.id" class="tab-link" v-on:click="getPhy(date.id)">{{date.dateStr}}</a>
		      </template>
		    </div>
		</div>
		<div class="tabs">
		      <div id="tab" class="tab tab-active"></div>
			  <template v-for="date in dates">
		      	<div :id="'tab'+date.id" class="tab"></div>
		      </template>
		</div> 
		<div :style="style">
			<div id="height" style="width:100%;height:150px;"></div>
			<div id="weight" style="width:100%;height:150px;"></div>
			<div id="bmi" style="width:100%;height:150px;"></div>
			<div id="bloodPressure" style="width:100%;height:150px;"></div>
			<div id="bloodSugar" style="width:100%;height:150px;"></div>
			<div id="bloodLipid" style="width:100%;height:150px;"></div>
		</div>
		<div v-if="!charts && dates.length>0" >
			<form class="list" style="margin-top:10px">
				<ul>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">身高</div>
								<div class="item-input-wrap">
									{{phy.heightStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">体重</div>
								<div class="item-input-wrap">
									{{phy.weightStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">BMI</div>
								<div class="item-input-wrap">
									{{phy.bmistr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">腰围</div>
								<div class="item-input-wrap">
									{{phy.abdominalCircumferenceStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">臀围</div>
								<div class="item-input-wrap">
									{{phy.hipCircumferenceStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">WHR(腰臀比)</div>
								<div class="item-input-wrap">
									{{phy.whrstr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">心率</div>
								<div class="item-input-wrap">
									{{phy.heartRateStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">呼吸</div>
								<div class="item-input-wrap">
									{{phy.breatheRateStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">体温</div>
								<div class="item-input-wrap">
									{{phy.temperatureStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血压测量频率</div>
								<div class="item-input-wrap">
									{{phy.bloodPressureStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血糖测试频率</div>
								<div class="item-input-wrap">
									{{phy.bloodSugarStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血脂测试频率</div>
								<div class="item-input-wrap">
									{{phy.bloodLipidStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">尿酸测试频率</div>
								<div class="item-input-wrap">
									{{phy.uricAcidStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血氧饱和度测试频率</div>
								<div class="item-input-wrap">
									{{phy.bloodOxygenStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血压值</div>
								<div class="item-input-wrap">
									{{phy.bloodPressureValStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血糖值</div>
								<div class="item-input-wrap" style="white-space: pre-wrap;">{{phy.bloodSugarValStr}}</div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血脂值</div>
								<div class="item-input-wrap" style="white-space: pre-wrap;">{{phy.bloodLipidValStr}}</div>
							</div>
						</div>
					</li>
					
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血尿酸</div>
								<div class="item-input-wrap">
									{{phy.uricAcidValStr}}
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="item-content item-input">
							<div class="item-inner">
								<div class="item-title item-label">血氧饱和度</div>
								<div class="item-input-wrap">
									{{phy.bloodOxygenValStr}}
								</div>
							</div>
						</div>
					</li>
				</ul>
			</form>
		</div>
    </div>
</div>