body{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#app .navbar {
	--f7-navbar-height:60px;
    background-color: var(--f7-theme-color);
}
#app .navbar .navbar-inner{
	margin-top:16px;
}
#app .navbar .navbar-inner .title {
    color: #fff;
    font-weight: 500!important;
    font-size:18px;
}

#app .navbar .navbar-inner .right a{
    color: #fff!important;
}

.settings-view{
	margin-top:25px;
}
.settings-view .list {
    margin:0;
    margin-top:10px;
}
.settings-view .user-profile .avatar {
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.button.button-big {
    font-size: 17px;
    height: 44px;
    line-height: 42px;
}

.content-block {
    margin: 35px 0;
    padding: 0 15px;
    color: #6d6d72;
    box-sizing: border-box;
}

.login_banner{
	display: block;
	width: 100%;
}

.login_title{
	text-align: center;
	padding-top: .5rem;
	line-height: 40px;
    font-size: 20px;
    color: #2B9F94;
}

#conditionQuery ul::before{
	background-color:transparent;
}

#conditionQuery ul::after{
	background-color:transparent;
}